DATABASE_URL=
JWT_SECRET=
MASTER_EMAIL=
MASTER_PASSWORD=
MASTER_NAME=
APP_URL=http://localhost:5173
RESEND_API_KEY=
RESEND_FROM_EMAIL=InView Backoffice <noreply@your-domain.com>
NICESMS_USERID=
NICESMS_PASSWORD=
NICESMS_SENDER=0269569091
