@charset "utf-8"; /* ///// */
html,
body { width:100%; max-width:initial !important; scroll-behavior: smooth; } 
body.mNavActive { overflow:hidden; } 
html,
body,
*,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; font-family:"Pretendard", "Segoe-UI","맑은 고딕","malgun gothic","돋움","dotum",sans-serif; word-break:keep-all; } 
li,
ul,
ol { list-style:none; } 
a { text-decoration:none !important; outline:0; border:0; } 
caption { display:none; } 
button { outline:0; border:0; } 
.second_bgCol { background-color:#F5F5F5; } 
.detail { padding-top:20px; } 
.align_r { text-align:right; } 
.align_l { text-align:right; } 
.none { display:none !important; } 
.pl_0 { padding-left:0 !important; } 

/* word system */
button,
input,
h1,
h2,
h3,
p,
span,
td,
b,
i,
li,
a { word-break:keep-all; letter-spacing:-0.05em; color:var(--default-text--01--); } 
.txt_hidden { font-size:0; line-height:0; overflow:hidden; text-indent:-999999px; } 
.text_center { text-align:center !important; } 
.text_right { text-align:right !important; } 
.text_left { text-align:left !important; } 

/* icon */
.icon { text-indent:-99999px; font-size:0; display:inline-block; } 

/* responsive system */
.only_ta { display:none !important; } 
.only_mo { display:none !important; } 
@media (max-width:1024px) { 
 .only_pc { display:none !important; } 
.only_ta { display:inline-block !important;; } 
.only_ta.btn { display:flex !important; } 
 } 
@media (max-width:768px) { 
 .only_mo { display:inline-block !important;; } 
 } 

/* color system */
:root { --primary--:#CB3C2F; --secondary--:#264E36; --default-text--01--:#232323; } 

/* font system */
:root { --s-default-size--:16px; --r-default-size--:18px; --l-default-size--:20px; --title-size--:40px; --xl-default-size--:24px; --xxl-default-size--:26px; --title-r-size--:60px; --sub-top-title-size--:50px } 
@media (max-width:1024px) { 
 :root { --s-default-size--:15px; --r-default-size--:16px; --l-default-size--:16px; --title-size--:24px; --xl-default-size--:20px; --xxl-default-size--:26px; --title-r-size--:36px; --sub-top-title-size--:36px } 
 } 
 .navbar-expand .navbar-nav { gap:0 5px; } 

/* header */
.header { padding: 15px 20px; border-bottom: 1px solid #ededed; box-shadow: 0px -16px 20px; } 
.header .header_cont { padding: 0; max-width: 1440px; margin: 0 auto; display: flex; flex-direction: row; justify-content: space-between; } 
.header .header_cont .left_align { display: flex; align-items: center; gap: 0 20px; } 
.header .header_cont .left_align .logo_box { width: 100%; max-width: 180px; } 
.header .header_cont .left_align .logo_box img { width: 100%; height: auto; } 
.header .header_cont .left_align .nav_cont { } 
.header .header_cont .left_align .nav_cont ul { gap: 0 10px;  display: flex;  flex-direction: row; } 
.header .header_cont .left_align .nav_cont ul li { } 
.header .header_cont .left_align .nav_cont ul li a { } 
.header .header_cont .right_align { display: flex; flex-direction: row; align-items: center; gap: 0 5px; } 
.header .header_cont .right_align .ad_cont {  display: flex;  flex-direction: row;  gap: 0 10px;  align-items: center; } 

/* dashboard_block */
.dashboard_block{padding:40px 20px;}
.dashboard_block .container{max-width:1440px; padding: 0;}
.dash_contBox{display:flex; gap:0 20px;}

/* userlist_block */
.userlist_block{padding:40px 20px;}
.userlist_block .container{max-width:1440px; padding:0;}

/* mypage_block */
.mypage_block{padding:40px 20px;}
.userlist_block .container{max-width:1440px; padding:0;}
.user_infoBox{display:flex; gap:0 20px;}