/* basic_wrap */
.basic_wrap { padding:200px; } 
.basic_wrap .img_box { width: 100%; max-width: 150px; margin: 0 auto; } 
.basic_wrap .img_box img { } 
.sign_in_wrap { padding-top:30px; max-width: 550px; margin: 0 auto; } 
.accordion-body { padding:10px; } 

.signup_container { max-width: 100%; margin: 20px auto 0; padding: 20px; border-radius: 8px; background-color: #fff; } 
.signup_title { text-align: center; margin-bottom: 24px; color: #333; font-weight: 600; font-size: 1.8rem; } 
.signup_form { display: flex; flex-direction: column; gap: 16px; } 
.signup_input { padding: 12px 10px; font-size: 16px; border-radius: 4px; border: 1px solid #ccc; outline: none; transition: border-color 0.2s; } 
.signup_input:focus { border-color: #ff2174; } 
.signup_label { width: 100%; display: flex; align-items: center; gap: 0 10px; } 
.signup_label select { padding: 11px 10px; font-size: 16px; border-radius: 4px; border: 1px solid #ccc; outline: none; transition: border-color 0.2s; width:100%; } 
.signup_label select:focus { border-color: #ff2174; } 
.signup_button { padding: 13px; font-size: 16px; border-radius: 4px; border: none; background-color: #ff2174; color: #fff; font-weight: 600; cursor: pointer; transition: background-color 0.3s; } 
.signup_button:hover:not(:disabled) { background-color: #d13e75; } 
.signup_button.loading { background-color: #ff2174; cursor: not-allowed; } 

.signup_message.success { color: green; margin-top: 16px; text-align: center; } 
.signup_message.error { color: red; margin-top: 16px; text-align: center; } 

.tabs { display: flex; border-bottom: 1px solid #ccc; margin-bottom: 16px; user-select: none; } 
.tab_button { flex: 1; padding: 12px; background-color: transparent; border: none; border-bottom:2px solid transparent; cursor: pointer; transition: background-color 0.3s ease, border-color 0.3s ease; opacity:0.6; } 
.tab_button.active { border-bottom-color: #ff2174; background-color: #f9f9f9; color: #232323; opacity: 1; font-weight: 600; margin-bottom:-1px; } 
.tab_button:hover { background-color: #f9f9f9; } 

/* input */
.signup_input { border-radius: 4px; padding: 8px; width:100%;} 
.input_group_box { display: flex; align-items: center; border: 1px solid #ced4da; border-radius: 4px; background-color: #fff; margin-bottom: 10px; padding: 8px; max-width: calc((100% - (10px * 2)) / 3); } 
.input_group_box .form-label { width: 120px; margin: 0; font-weight: 500; color: #333; flex-shrink: 0; } 
.input_group_box .form-control,
.input_group_box .form-control[readonly] { border: none; box-shadow: none; background-color: transparent; flex-grow: 1; } 
.input_group_box .form-control:focus { box-shadow: none; outline: none; } 
.input_group_box .btn-outline-primary { margin-left: 8px; } 
.input_group_box .input-group { align-items: center; flex-wrap: nowrap; } 
.input_group_box .input-group .dataBox { display: flex; flex-direction: row; align-items: center; gap:0 5px; } 
.modal-content { border-radius: 8px; } 
.address_box { width: 100%; max-width: 100%; margin-bottom: 10px; border: 1px solid #ced4da; border-radius: 4px; } 
.address_box .input_group_box { max-width: 100%; margin: 0; border: 0; border-bottom: 1px solid #ededed; } 
.address_box .input_group_box:last-of-type { border-bottom:0; } 
.address_box .input_group_box button[type="button"] { width: 100%; max-width: 120px; } 
.address_box ~ .input_group_box { max-width: calc((100% - (10px * 1)) / 2); } 
.ad_detail_block .container .company_formBox .address_box .input_group_box .signup_input.input_postcode { background:#ededed; border-top-left-radius:4px; border-bottom-left-radius:4px; } 